:host ::ng-deep .selected.highlighted{
    background-color: #000000;
    background-color: var(--secondary-color);
}

:host ::ng-deep .highlighted{
    background-color: #000000;
    background-color: var(--secondary-color);
}
.flex-value-1{
    flex: 1;
}
.sort-engine a{
    margin-left: 10px;
}

.office-selectbox{
    /* width: 140px */
    width: 230px;
}

.custom-tag{
    min-width: 17px;
    min-height: 17px;
}

.automation-type-filter{
    width: 200px;
    margin: 0 15px;
}

.checkbox-dropdown{
    min-width: 140px;
    left: 0;
  }

:host ::ng-deep ng-select{
      background: #fff;
  }

  .dropdown-container{
    overflow: auto;
  }
  
  .dropdown-container span{
    float: left;
  }
  
  .dropdown-container i {
    margin-top: 3px;
  }

  .extra-clickable{
    display: inline-block;
  }

  .childGrouping{
    padding-left: 15px;
  }