/* .inner {
  margin-top: 50px !important;
  padding: 50px 40px !important;
} */

.popover-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.result-gutter-rs {
  max-width: 800px !important;
  margin: 0 auto;
  color: #111111;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%) !important;
}

.title-Res {
  float: left;
}

.title-value {
  display: table;
}

.top-result {
  text-align: center;
  border-color: #ffffff !important;
  color: #2c2c2c;
  font-size: 18px;
  min-height: 40px;
}

.top-result:focus {
  border-color: #ffffff !important;
}

.result-detail-container {
  border: 1px dotted #ccc;
  margin: 50px 30px;
  padding: 20px;
}

.result-data {
  display: flex;
  margin: 15px 0;
}
.inter {
  margin-bottom: 0px;
}
.is-result-row {
  flex: 5;
  font-size: 20px;
  font-weight: bold;
}

.side-btn {
  flex: 1;
}

.side-btn input {
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
  max-width: 140px;
  margin: 15px 5px;
}
.side-btn .fr-prop {
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
  max-width: 140px;
  margin: 15px 5px;
}


.result-progress-bar {
  width: 100%;
}

.progress-bar-title {
  font-size: 20px;
  font-weight: bold;
}

.form-actions .set-2 {
  margin-top: 30px;
}

.color-save-btn {
  width: 100%;
}

.ins-body{
  height: calc(100vh - 75px) !important;
}

.w-50{
  width: 50%;
}

.pad-edit-bl{
  padding: 34px 40px;
}

.default-header{
  background: #FAFAFA;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  text-align: initial;
  padding: 4px 10px;
}

.dot-icon{
  margin: 3px;
  font-size: x-small;
}

.pad-div{
  padding: 30px 40px;
}