<!-- <p>
  <i class="fa-icon crop"></i> Recommended Image Dimensions
  <b>{{"250PX" | translate }}</b> by
  <b>{{"150PX" | translate }}</b>
</p>
<div class="info-box">
  <label>{{"FILE_INPUT" | translate }}</label>
  <div class="row margin-bottom-20">
    <div class="col-md-3 col-sm-3"> -->
      <!-- <div class="fileinput-ember fig-sm">
        <div class="fileinput-preview"> </div>
        <div class="btn-file">
          <i class="fa-icon fig-ember"></i>
          <input type="file" name="...">
        </div>
      </div> -->
      <!-- <p class="no-image">{{"NO_IMAGE" | translate }}</p> -->
      <!-- <img src = "http://192.168.22.135:7881/UploadedFiles/e708772a-361b-41cf-9558-1751c886c3e8/Noosware-logo01.png" type="text"> -->
      <!-- <image-upload class="customClass"
      #imageUpload
      [uploadedFiles] = "image"
      [headers] = "myHeaders"
      [max] = "0"
      [extensions] = "['jpg', 'png']"
      [url] = "imageUploadUrl"
      [maxFileSize] = "2000000"
      (removed) = "onImageRemoved()"
      (uploadFinished) = "onUploadFinished($event)"
      buttonCaption = "Upload Image"
      ></image-upload> -->
      <!-- <img [src]="src" [hidden]="!src" class="image-show">
      <br>
      <input type="file" imageUpload
      class="image-uploader"
      [allowedExtensions]="['jpg', 'png', 'tiff', 'gif']"
      (imageSelected)="selected($event)" 
      [resizeOptions]="resizeOptions">`
    </div>
    <div class="col-md-6 col-sm-6"> -->
      <!-- <input type="file" name="..."> -->
      <!-- <div class="margin-top-20">
        <p>
          <span class="hint">{{"IMAGE_FORMATS_ACCEPTED:" | translate }}</span> JPEG, PNG, TIFF, GIF
          <br/>
          <span class="hint">{{"MAX_IMAGE_SIZE:" | translate }}</span>{{"2_MB" | translate }}</p>
      </div>
    </div>
  </div> -->
  <!-- <a href="javascript:void(0);" class="btn blue">
    <span>
      <i class="fa-icon upload"></i>{{"UPLOAD_IMAGE" | translate }}</span>
  </a> -->
<!-- </div> -->
