.container-single .ins h2 {
  margin-bottom: 10px;
}

.ember-ic{
  position: relative;
}

.ember-ic .btn {
  margin-top: 0px;
}
:host ::ng-deep .my-videos > video {
  width: 100%;
}
.correct-alignment {
  margin: 31px 0 14px;
}

.explanation-word-break {
  word-break: break-all;
}

.image-answer-detail{
  max-width: 150px;
  max-height: 125px;
}

:host ::ng-deep .fr-box .fr-counter{
  display: none;
}

.font-type{
  font-family: Montserrat;
  font-style: normal;
}

.ins.no{
  display: block;
}

.incorrect-icon{
  width: 100px;
  height: 100px;
}

.incorrect-text{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.sub-tittle{
font-weight: 600;
font-size: 14px;
line-height: 16px;
margin-bottom: 15px;
}

.initial-text{
  text-align:initial
}

.sub-text{
font-weight: 500;
font-size: 14px;
line-height: 150%;
}

.sub-text-body{
  padding: 11px 20px;
  margin-top: 12px;
}

.explanation-icon{
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.next-btn{
  background: #00B7AB;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  /* min-width: 180px;
  min-height: 45px; */
  width: 100%;
  min-height: 38px;
  padding: 0;
  border: none;
  margin-top: 15px !important;
  line-height: 36px;
}
  
  .ellipsiss{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cover-height{
    z-index: 1;
  }

  .image-block-margin{
    margin: 0 0 5px 10px;
  }

  .notransform{
    transform:none !important;
  }

  .vertically-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .mobile-view-logo-body {
    /* position: relative; */
    position: fixed;
    text-align: center;
    /* min-height: 45px; */
    /* background-color: #fff; */
  }  

.mobile-view-logo-body img {
  margin: 5px 0px;
}
.mobile-view-logo-body:empty{
  display: none;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e6ec;
}

.mobile-logo{
  text-align: center;
  min-height: 45px;
  margin-top: 10px;
}

.mobile-next-btn{
  width: 100%;
  border-radius: 0;
}

.next-btn-container{
  background: #fff;
  border-radius: 5px;
}

.content-box{
  min-height: calc(100vh - 250px);
  max-height: calc(100vh - 50px);
}

::ng-deep .fr-box.fr-basic .fr-element {
  padding: 0px !important;
}

.answer-div-container {
  width: 33.33333333333333%;
  display: inline-block;
  margin-left: -1px;
  padding: 0px 10px;
  vertical-align: top;
}

@media only screen and (max-width: 768px) {
  .correct-alignment {
    margin: 13px 0 10px;
  }
  .incorrect-icon{
    width: 80px;
    height: 80px;
  }
  .incorrect-text{
    font-size: 18px;
    line-height: 24px;
  }
  .image-option-cols-2 .answer-div-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
  }
}

.default-option{
  padding: 5px;
}

.mtop-12{
  margin-top: 12px;
}