<!-- Modal -->
<!-- <div class="modal media-library-view">
    <div class="modal-dialog wide-75"> -->
         <!-- Modal content-->
        <!-- <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a href="javascript:void(0);" class="nav-link active">{{"MediaLibrary" | translate}}</a>
                    </li>
                    <li class="nav-item">
                      <a href="javascript:void(0);" class="nav-link">
                        <i class="fa fa-plus"></i> {{"AddNewFile" | translate}}
                      </a>
                    </li>
                  </ul>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                      <div class="search-field">
                        <app-suggestion-panel></app-suggestion-panel>
                      </div> -->
                        <!-- source type filter view -->
                        <!-- <div class="mediaFilesFilterArea">
                            <div class="text-right">
                            <form>
                                <label for="image" class="app-radio mleft-5">
                                <input type="radio" id="image" class="mleft-10" name="resourceType" value="image"
                                [checked]="resourceType == 'image'" (click)="selectResourceTypeFilter('image')">
                                <span></span>
                                {{"Images" | translate}}</label>
                                <label for="video" class="app-radio mleft-5">
                                <input type="radio" id="video" class="mleft-10" name="resourceType" value="video"
                                [checked]="resourceType == 'video'" (click)="selectResourceTypeFilter('video')">
                                <span></span>
                                {{"Videos" | translate}}</label>
                            </form>
                            </div>
                        </div> -->
                        <!-- media files view -->
                        <!-- <div class="content-area">
                            <div class="all-files-area">
                                <div class="text-center mtop-20 mbottom-20">
                                    {{"NO_DATA_DISPLAY" | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            <div class="modal-footer">
                <button class="btn action-btn">{{"Save" | translate}}</button>
                <button class="btn action-btn" (click)="closeMediaLibraryPopup()">{{"Cancel" | translate}}</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Modal -->
<div class="modal">
  <div class="modal-open">
    <iframe class="iframe-div" [src]="Url | test"></iframe>
  </div>
</div>    