.container-single .ins.no{
    display: block;
    width: 100%;
    overflow: auto;
} 

.ins.no{
    display: block;
    padding: 0px !important;
}

.content-box{
    min-height: calc(100vh - 250px);
    max-height: calc(100vh - 50px);
}

.text-div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    text-align: center;
}