.input-cls{
    border: none;
    width: 200px;

    flex: none !important;
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    color: var(--primary-color) !important;
        cursor: pointer;
    border-bottom: 1px dashed var(--primary-color) !important;
    padding: 0px;
    height: 23px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: "pnum" on,"lnum" on
}

.drop-icon{
    color: var(--primary-color);
    cursor: pointer;
}

.right-side{
    float: right;
}