@media (min-width: 1100px) {
  .ember-body-container {
    width: 1090px;
    margin: auto;
  }
}

.choose-quiz-head {
  @media (min-width: 1100px) {
    width: 1070px;
    margin: auto;
  }
  padding: 31px 0 10px;
  h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: normal;
  }
  p {
    text-align: center;
    color: rgba(44, 44, 44, 0.7);
  }
  .selectable-actions {
    text-align: right;
    a {
      color:  var(--secondary-color);
      &:hover {
        color: var(--secondary-color);
      }
    }
  }
  @media (max-width: 800px) {
    padding: 40px 40px 0;
  }
}

.choose-quiz-actions {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 35px 0 35px;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(138, 146, 153, 0)),
    to(rgba(0, 0, 0, 0.49))
  );
  background: linear-gradient(
    180deg,
    rgba(138, 146, 153, 0) 0,
    rgba(0, 0, 0, 0.49)
  );
  z-index: 9999;
  .btn {
    &.green {
      color: #fff;
      background:  var(--secondary-color);
      &:hover {
        background:  var(--secondary-color);
      }
    }
  }
}
.choose-quiz-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 106px;
  p {
    line-height: 22px;
  }
}
.choose-quiz-row .md-info {
  width: 345px;
  @media (max-width: 700px) {
    width: 285px;
  }
  margin: 15px 10px 0px;
  .thumbnail {
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 1px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 0;
    &:hover {
      -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18),
        0 1px 30px rgba(0, 0, 0, 0.16);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18),
        0 1px 30px rgba(0, 0, 0, 0.16);
    }
    padding: 0;
    img {
      width: 100%;
      height: 212px;
      display: block;
      object-fit: cover;
    }
    h3 {
      text-transform: none;
      font-size: 16px;
      font-weight: bold;
    }
    p {
      color: rgba(33, 33, 33, 0.7);
      margin-bottom: 13px;
    }
    .btn-block {
      margin-top: 40px;
      &.green {
        color: #2c2c2c;
        background-color:  var(--secondary-color);
        &:hover {
          color: #fff;
          background-color:  var(--secondary-color);
        }
      }
    }
    &:hover {
      a.btn-block {
        color: #fff;
        background-color:  var(--secondary-color);
      }
    }
  }
}

.choose-quiz-row .md-info h3 {
  text-transform: uppercase;
}

.choose-quiz .choose-quiz-row .box .ins {
  padding: 46px 25px 35px;
}

.choose-quiz .box:hover:before,
.choose-quiz .box.selectedCategoriesCss:before {
  background:  var(--secondary-color);
}

.choose-quiz .box:hover .btn,
.choose-quiz .box.selectedCategoriesCss .btn {
  background: var(--secondary-color);
}

.choose-quiz .box .btn.blue.line {
  border-color: #a4a4a4;
  color: #a4a4a4;
}

.choose-quiz .box:hover .btn.blue.line,
.choose-quiz .box.selectedCategoriesCss .btn.blue.line {
  color: #fff;
  border-color:  var(--secondary-color);
  background:  var(--secondary-color);
}

.choose-quiz {
  .choose-quiz-row {
    i.icon {
      width: 64px;
      height: 68px;
      display: inline-block;
      background: url(../../../../assets/layouts/img/sprites2.png) no-repeat 0 0;
      &.quiz {
        background-position: 3px 3px;
        width: 53px;
        height: 65px;
      }
      &.assessment {
        background-position: 6px -117px;
      }
      &.personality {
        background-position: -1px -192px;
      }
      &.career {
        background-position: -7px -1138px;
      }
      &.pre-hiring {
        background-position: -8px -1226px;
      }
      &.pool-management {
        background-position: -8px -1316px;
      }
      &.onboarding {
        background-position: -7px -1401px;
      }
      &.pre-interview {
        background-position: -9px -1488px;
      }
      &.e-learning {
        background-position: -8px -1576px;
      }
    }
  }
}

//new-style-scss
.template-header{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #494949;
}

.choose-categories-options{
  border: 1px solid #E0E0E0;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px;
  background: transparent;
  cursor: pointer;

  &.active{
//  background: #00B7AB;
background-color: #000000;
background-color: var(--secondary-color);
 border: none;
  }

  &:hover{
    // border-color: #00A99E;
    border-color: #000000;
    border-color: var(--secondary-color);
    .dot{
      // color:#00A99E;
      color: #000000;
      color: var(--secondary-color);
    }
    .dot-svg circle{
      fill: #000000;
      fill: var(--secondary-color);
    }
  }
}

.choose-categories-options-text,.show-all{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #494949;
  line-height: 125%;
}

.dot{
  font-size: 5px;
  padding-left: 10px;
  color: #E0E0E0;
}
// .choose-categories-options:hover{
//   border-color: #00A99E;
//   .dot{
//     color:#00A99E;
//   }
// }

// .selected-choose-options{
//     padding: 10px 15px;
//     border-radius: 20px;
//     background: #00B7AB;
//     margin: 5px;
// }

.selected-choose-options-text{
  color:white;
}

.check{
  font-size: 12px;
  padding-left: 10px;
}

.option-margin{
  margin: 20px 0px;
}

.image-block{
  // width: 100%;
  // max-height: 133px;
  // max-width: 298px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5)
}

.image-block:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Raleway;
  font-style: normal;
}

.main-pane{
 // width: 950px;
  //display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.search-area{
  // margin-top: 40px;
  position: relative;

  .search-box{
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 5px;
      width: 100%;
      height: 45px;
      box-shadow: none;
      padding: 14px 46px 15px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #494949;

      &::-webkit-input-placeholder {
          color: #A9A9A9;
        }
        
        &:-ms-input-placeholder {
          color: #A9A9A9;
        }
        
        &::placeholder {
          color: #A9A9A9;
        }
  }
  .search-icon{
      position: absolute;
      top: 14px;
      left: 15px;
  }
}

.filter-area{
  margin-top: 20px;

  .filter-tab{
      font-weight: 500;
      padding-bottom: 8px;
      cursor: pointer;
      font-family: Raleway;
      list-style-type: none;
      font-size: 14px;
      line-height: 16px;
  }

  .radio-btn{
      display: inline-block;
      
      .checkbox-inline, .radio-inline{
          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #494949;
          padding-left: 20px;
          margin-left: 20px;

          input{
              margin-top: 2px;
              margin-left: -22px;
          }
      }
  }
}

.font-adjust{ 
  font-weight: 500;
  font-family: Raleway;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  color: #494949;
}

.font-adjust-1x{
  font-weight: 600;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  font-family: Raleway;
  color: var(--Primary-color-for-text);
}

/* right */
.mright-10{
  margin-right: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F9F9F9;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: -1px;
  bottom: -1px;
  background: #00B7AB;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #F9F9F9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
  border: 1px solid #E0E0E0;
}

.slider.round:before {
  border-radius: 50%;
}

.text-right{
  text-align: right!important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  top: 2px;
  margin: 0px 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.autocontainer{
 // width: 969px;
  margin: 0 auto;
  margin-left: -10px;
}

.height{
  height: 650px;
  vertical-align: auto;
}

.Atomation-card{
  width: 300px;
  height: 350px;
  margin: 10px;
  top: 10px;
  position: relative;
  overflow: hidden;
}
.Atomation-card-selectd{
width: 303px;
height: 390px;
margin: 10px;
top: 10px;
position: relative;
overflow: hidden;
// border: 1px solid #494949;

}

.half-circle{
  height: 80px;
  top: -39px;
  left: -39px;
  width: 80px;
  color: black;
  background: #FFFFFF;
  border-radius: 50%;
  /* margin-top: -38px; */
  position: absolute;
  /* margin-left: -42px; */
  overflow: hidden;
  border: 1px solid #E0E0E0;
}

.haif-circle-txt{
  position: relative;
  top: 47px;
  left: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 18px;
  height: 16px;
}

.img-corner{
  position: relative;
  top: 47px;
  left: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 15px;
  height: 14px;
  margin-left: 2px;
}

.bd-placeholder-img{
  width: 301px;
height: 134px;
}

.img-none
{
    height: 134px !important;
    width: 301px;
}

.title-pad{
  padding: 13px 53px 16px 53px;
}

.card-text
{
    font-family: Raleway;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    color: #494949;
}

.card-img-title
{
    font-family: Raleway;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    height: 42px;
    width: 197px;
}

.ellipsis-2line{
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.h-line-263{
  width: 263px;
  margin: 0 auto;
  border-color: #E0E0E0;    
}

.card-pad{
  padding: 14px 90px 0px;
  text-align: center;
}

.card-level
{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    text-align: center;
    color: #A9A9A9;
    font-family: Raleway;
}

.card-version{
  font-family: Raleway;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  text-align: center;
  color: #494949;
  width: 263px;
  margin: 0 auto;
  margin-top: 12px;
}

.tagDetailRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-link{
  // margin: 15px auto 21px;
  margin: 16px 0 20px;
  // width: 165px;
  height: 30px;
  background: #F0F0F0;
  border-radius: 5px;
  
}
.card-link-img
{
  padding: 8px 5px 9px 11px;
  font-weight: 500;
  font-size: 12px;
  font-family: Raleway;
  height: 14px;
  line-height: 14px;
  color: #494949;
}
.tag-icon{
  height: 12px;
  font-size: 12px;
  transform: rotate(89deg);
  margin-right: 7px;
}

.tags-count{
  border-radius: 5px;
  width: 75px;
  height: 30px;
  border: 1px solid #E0E0E0;
  margin: 16px 26px 21px 10px;
  padding: 2px 1px;
}
.tags-count:hover{
  border: 1px solid #00A99E;
}

.img-set{
  width: 11px;
  height: 11px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.plusimg-set{
  width: 17px;
  margin: 6px auto 6px;
  padding-right: 8px;
}

.pull-left{
  float: left;
}

.tagdetails-blank{
  padding-top: 50px;
}

.automation-btn{
  padding: 17px 18px 21px;
}

.card-use{
  //width: 263px;
  // border: 1px solid #00B7AB;
  border: 1px solid #000000;
  border: 1px solid var(--secondary-color);
  height: 40px;
  border-radius: 5px;
  // color: #00B7AB !important;
  color: #000000 !important;
  color: var(--secondary-color) !important;
  cursor: pointer;
&:hover{
  // background-color: #00A99E;
  background-color: #000000;
  background-color: var(--secondary-color);
  color: #FFFFFF !important;
  .plus-icon{
    path{
      fill:#FFFFFF;
    }
  }
}
}
.card-use-img
{
width: 100%;  
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
padding: 11px 55px 10px 55px;
display: inline-block;
// color: #00B7AB !important;
color: #000000 !important;
color: var(--secondary-color) !important;
&:hover{
  color: #FFFFFF !important;
}
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.d-inline-block{
  display: inline-block!important
}

.hand-cursor{
  cursor: pointer;
}

.b-bottom{
  border-bottom: 1px solid #E0E0E0;
}

.m-topbottom{
  margin: 200px auto;
}

.f-block-display{
  display: flex;
  flex-wrap: wrap
}

.choose-option{
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.check-set{
  width: 11px;
  height: 11px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.dot-check{
  width: 5px;
  height: 5px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.ellipsis-1line{
  display: block;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-all{
  font-family: Raleway;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  // color: #00B7AB;
  color: #000000;
  color: var(--secondary-color);
  border-bottom: 1px dotted;
  cursor: pointer;
  &:hover{
    border-bottom: none;
  }

}

.search-area-margin{
  margin: 0px 15px 0px 5px;
}

.plus-icon{
  position: relative;
  left: -5px;
  width: 10px;
  path{
    fill:#000000;
    fill:var(--secondary-color);
  }
}

.dot-svg{
  position: relative;
  top: -2px;
  left: 5px;
}