@media all and (-ms-high-contrast: none) {
  .app-side-menu ul li a {
    width: 52px;
  } /* IE10 */
  .app-side-menu ul li span {
    padding-left: 30px;
  }
  *::-ms-backdrop,
  .app-side-menu ul li a {
    width: 52px;
  } /* IE11 */
  *::-ms-backdrop,
  .app-side-menu ul li span {
    padding-left: 30px;
  }
}

.app-side-menu ul li a:hover {
  width: 280px;
}

.app-side-menu {
  z-index: 100;
}
