  <!-- begin side menu -->
  <div class="app-side-menu">        
    <ul class="list-unstyled"> 
      <!-- <li><a [routerLink]="['/quiz-builder']"><i class="fa fa-angle-left"></i> <span>{{"AUTOMATION" | translate}}</span></a></li> -->
      <!-- <li><a [routerLink]="['explore']"><i class="fa fa-angle-left"></i> <span>{{"DISCOVER" | translate}}</span></a></li>
      <li><a [routerLink]="['email/quiz-invitation']"><i class="fa fa-angle-left"></i> <span>{{"EMAIL&SMS_TEMPLATE" | translate}}</span></a></li>
      <li><a [routerLink]="['reporting']"><i class="fa fa-angle-left"></i> <span>{{"REPORTS" | translate}}</span></a></li>
      <li *ngIf="CreateTemplate && CreateTemplateEnabled"><a [routerLink]="['/quiz-builder/templates']"><i class="fa fa-angle-left"></i> <span>{{"TEMPLATE_MANAGEMENT" | translate}}</span></a></li> -->
    </ul>
  </div>
  <!-- end side menu -->