
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Automation-primary: mat-palette($mat-indigo);
$Automation-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Automation-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Automation-theme: mat-light-theme($Automation-primary, $Automation-accent, $Automation-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Automation-theme);

// @import "components/variable.scss";
// @import "components/reset.scss";
// @import "components/loader.scss";
// @import "components/btns.scss";
// @import "components/icons.scss";
// @import "components/progress.scss";
// @import "components/form.scss";
// @import "components/search.scss";
// @import "components/list.scss";
// @import "components/modal.scss";
// @import "components/table.scss";
// @import "components/header.scss";
// @import "components/head.scss";
// @import "components/scheduler.scss";
// @import "components/tabbable.scss";
// @import "components/steps.scss";
// @import "components/carousel.scss";
// @import "components/bundle.scss";
// @import "components/choose-quiz.scss";
// @import "components/frontend-link.scss";
// @import "components/responsive.scss";
//@import "components/flexbox.scss";

@import "components/space.scss";
@import "components/alert.scss";
@import "components/_custom-froala.scss";
